USE [master]
GO
/****** Object:  Database [RentalManagementSystem]    Script Date: 3/19/2025 4:26:27 PM ******/
CREATE DATABASE [RentalManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentalManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RentalManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentalManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RentalManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentalManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentalManagementSystem]
GO
/****** Object:  Schema [Authentication]    Script Date: 3/19/2025 4:26:28 PM ******/
CREATE SCHEMA [Authentication]
GO
/****** Object:  Schema [Bookings]    Script Date: 3/19/2025 4:26:28 PM ******/
CREATE SCHEMA [Bookings]
GO
/****** Object:  Schema [Hotels]    Script Date: 3/19/2025 4:26:28 PM ******/
CREATE SCHEMA [Hotels]
GO
/****** Object:  Schema [HotelService]    Script Date: 3/19/2025 4:26:28 PM ******/
CREATE SCHEMA [HotelService]
GO
/****** Object:  Schema [Rooms]    Script Date: 3/19/2025 4:26:28 PM ******/
CREATE SCHEMA [Rooms]
GO
/****** Object:  Table [Authentication].[Admin]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Authentication].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_AdminId] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Authentication].[Login]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Authentication].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[EmployeeId] [int] NULL,
	[SecurityQuestion] [nvarchar](100) NULL,
	[Answer] [nvarchar](50) NULL,
	[HotelId] [int] NOT NULL,
	[NewUser] [char](5) NULL,
 CONSTRAINT [PK_LoginId] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Bookings].[Booking]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bookings].[Booking](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[BookingDate] [date] NOT NULL,
	[StayDuration] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[BookingAmount] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[GuestId] [int] NOT NULL,
	[DiscountId] [int] NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_BookingId] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Bookings].[Discount]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bookings].[Discount](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](100) NOT NULL,
	[DiscountDescription] [nvarchar](50) NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_DiscountID] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Bookings].[Payments]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bookings].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentStatus] [nvarchar](6) NOT NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
	[PaymentAmount] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
 CONSTRAINT [PK_PaymentID] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Departments]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[DepartmentDescription] [nvarchar](50) NOT NULL,
	[InitialSalary] [int] NOT NULL,
	[HotelId] [int] NULL,
	[Designation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DepartmentId] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Employees]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeFirstName] [nvarchar](50) NOT NULL,
	[EmployeeLastName] [nvarchar](50) NOT NULL,
	[EmployeeDesignation] [nvarchar](50) NOT NULL,
	[EmployeeContactNumber] [nvarchar](15) NOT NULL,
	[EmployeeEmailAddress] [nvarchar](50) NOT NULL,
	[EmployeeJoiningDate] [date] NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[DepartmentId] [int] NULL,
	[HotelId] [int] NOT NULL,
	[CNIC] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_EmployeeId] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeEmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Guests]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Guests](
	[GuestId] [int] IDENTITY(1,1) NOT NULL,
	[GuestFirstName] [nvarchar](50) NOT NULL,
	[GuestLastName] [nvarchar](50) NOT NULL,
	[GuestEmailAddress] [nvarchar](50) NOT NULL,
	[GuestContactNumber] [nvarchar](15) NOT NULL,
	[GuestPassportNumber] [nvarchar](20) NOT NULL,
	[GuestCnic] [nvarchar](30) NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[HotelId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GuestId] PRIMARY KEY CLUSTERED 
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Hotels].[Hotel]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Hotels].[Hotel](
	[HotelId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ContactNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[FloorCount] [int] NOT NULL,
	[TotalRooms] [int] NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[Zip] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_HotelId] PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AddressLine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ContactNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Website] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HotelService].[Services]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HotelService].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
	[ServiceDescription] [nvarchar](50) NOT NULL,
	[ServiceCost] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
 CONSTRAINT [PK_ServicesId] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HotelService].[ServicesUsed]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HotelService].[ServicesUsed](
	[ServicesUserId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NULL,
	[BookingId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Rooms].[Room]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rooms].[Room](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[HotelId] [int] NULL,
	[RoomTypeId] [int] NULL,
	[Available] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_RoomId] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rooms].[RoomBooked]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rooms].[RoomBooked](
	[RoomBookedId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
 CONSTRAINT [PK_RoomBookedId] PRIMARY KEY CLUSTERED 
(
	[RoomBookedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Rooms].[RoomType]    Script Date: 3/19/2025 4:26:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rooms].[RoomType](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Cost] [int] NOT NULL,
	[SmokeFriendly] [nvarchar](5) NOT NULL,
	[PetFriendly] [nvarchar](5) NOT NULL,
	[HotelId] [int] NULL,
 CONSTRAINT [PK_RoomTypeId] PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Authentication].[Login] ADD  DEFAULT ('Yes') FOR [NewUser]
GO
ALTER TABLE [Bookings].[Booking] ADD  DEFAULT ('Checkin') FOR [Status]
GO
ALTER TABLE [Hotels].[Departments] ADD  DEFAULT ('Intern') FOR [Designation]
GO
ALTER TABLE [Hotels].[Guests] ADD  DEFAULT ('Not Reserved') FOR [Status]
GO
ALTER TABLE [Rooms].[Room] ADD  DEFAULT ('Yes') FOR [Available]
GO
ALTER TABLE [Authentication].[Login]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeId_Login] FOREIGN KEY([EmployeeId])
REFERENCES [Hotels].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [Authentication].[Login] CHECK CONSTRAINT [FK_EmployeeId_Login]
GO
ALTER TABLE [Authentication].[Login]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_login] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
GO
ALTER TABLE [Authentication].[Login] CHECK CONSTRAINT [FK_HotelId_login]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_DiscountId_Booking] FOREIGN KEY([DiscountId])
REFERENCES [Bookings].[Discount] ([DiscountId])
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_DiscountId_Booking]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeId_Booking] FOREIGN KEY([EmployeeId])
REFERENCES [Hotels].[Employees] ([EmployeeId])
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_EmployeeId_Booking]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_GuestId_Booking] FOREIGN KEY([GuestId])
REFERENCES [Hotels].[Guests] ([GuestId])
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_GuestId_Booking]
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_Booking] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Bookings].[Booking] CHECK CONSTRAINT [FK_HotelId_Booking]
GO
ALTER TABLE [Bookings].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeId_Discount] FOREIGN KEY([EmployeeId])
REFERENCES [Hotels].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [Bookings].[Discount] CHECK CONSTRAINT [FK_EmployeeId_Discount]
GO
ALTER TABLE [Bookings].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_BookingId_Payments] FOREIGN KEY([BookingId])
REFERENCES [Bookings].[Booking] ([BookingId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Bookings].[Payments] CHECK CONSTRAINT [FK_BookingId_Payments]
GO
ALTER TABLE [Hotels].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_dep] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
GO
ALTER TABLE [Hotels].[Departments] CHECK CONSTRAINT [FK_HotelId_dep]
GO
ALTER TABLE [Hotels].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentId_Employee] FOREIGN KEY([DepartmentId])
REFERENCES [Hotels].[Departments] ([DepartmentId])
ON DELETE SET NULL
GO
ALTER TABLE [Hotels].[Employees] CHECK CONSTRAINT [FK_DepartmentId_Employee]
GO
ALTER TABLE [Hotels].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_Employee] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Hotels].[Employees] CHECK CONSTRAINT [FK_HotelId_Employee]
GO
ALTER TABLE [Hotels].[Guests]  WITH CHECK ADD  CONSTRAINT [FK_HotelID_Guests] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Hotels].[Guests] CHECK CONSTRAINT [FK_HotelID_Guests]
GO
ALTER TABLE [HotelService].[Services]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_Services] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [HotelService].[Services] CHECK CONSTRAINT [FK_HotelId_Services]
GO
ALTER TABLE [HotelService].[ServicesUsed]  WITH CHECK ADD  CONSTRAINT [FK_BookingId_ServicesUsed] FOREIGN KEY([BookingId])
REFERENCES [Bookings].[Booking] ([BookingId])
GO
ALTER TABLE [HotelService].[ServicesUsed] CHECK CONSTRAINT [FK_BookingId_ServicesUsed]
GO
ALTER TABLE [HotelService].[ServicesUsed]  WITH CHECK ADD  CONSTRAINT [FK_ServiceId_ServicesUsed] FOREIGN KEY([ServiceId])
REFERENCES [HotelService].[Services] ([ServiceId])
ON DELETE CASCADE
GO
ALTER TABLE [HotelService].[ServicesUsed] CHECK CONSTRAINT [FK_ServiceId_ServicesUsed]
GO
ALTER TABLE [Rooms].[Room]  WITH CHECK ADD  CONSTRAINT [FK_HotelID_Room] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
ON DELETE CASCADE
GO
ALTER TABLE [Rooms].[Room] CHECK CONSTRAINT [FK_HotelID_Room]
GO
ALTER TABLE [Rooms].[Room]  WITH CHECK ADD  CONSTRAINT [FK_RoomTypeID_Room] FOREIGN KEY([RoomTypeId])
REFERENCES [Rooms].[RoomType] ([RoomTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [Rooms].[Room] CHECK CONSTRAINT [FK_RoomTypeID_Room]
GO
ALTER TABLE [Rooms].[RoomBooked]  WITH CHECK ADD  CONSTRAINT [FK_BookingId_RoomBooked] FOREIGN KEY([BookingId])
REFERENCES [Bookings].[Booking] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [Rooms].[RoomBooked] CHECK CONSTRAINT [FK_BookingId_RoomBooked]
GO
ALTER TABLE [Rooms].[RoomBooked]  WITH CHECK ADD  CONSTRAINT [FK_RoomId_RoomBooked] FOREIGN KEY([RoomId])
REFERENCES [Rooms].[Room] ([RoomId])
GO
ALTER TABLE [Rooms].[RoomBooked] CHECK CONSTRAINT [FK_RoomId_RoomBooked]
GO
ALTER TABLE [Rooms].[RoomType]  WITH CHECK ADD  CONSTRAINT [FK_HotelId_type] FOREIGN KEY([HotelId])
REFERENCES [Hotels].[Hotel] ([HotelId])
GO
ALTER TABLE [Rooms].[RoomType] CHECK CONSTRAINT [FK_HotelId_type]
GO
ALTER TABLE [Authentication].[Login]  WITH CHECK ADD CHECK  (([NewUser]='No' OR [NewUser]='Yes'))
GO
ALTER TABLE [Bookings].[Booking]  WITH CHECK ADD CHECK  (([Status]='Checkout' OR [Status]='Checkin'))
GO
ALTER TABLE [Hotels].[Guests]  WITH CHECK ADD CHECK  (([Status]='Not Reserved' OR [Status]='Reserved'))
GO
ALTER TABLE [Rooms].[Room]  WITH CHECK ADD CHECK  (([Available]='No' OR [Available]='Yes'))
GO
USE [master]
GO
